<header class="bg-white shadow-md p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex items-center space-x-4">
        <div>
          <h1 class="text-xl font-bold text-black-800">Cristian Zuniga</h1>
          <p class="text-sm text-black-600">Ingeniero en Sistemas</p>
        </div>
      </div>
      <div class="flex items-center space-x-4">
        <span class="bg-sky-100 text-white-800 text-xs font-semibold px-2.5 py-0.5 rounded">Zcris1278@gmail.com</span>
        <div class="flex items-center">
        </div>
      </div>
    </div>
  </header>
  
